{% extends 'layouts/default.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">Issues</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'tracker:issue_create' %}" class="btn btn-primary">
                <i class="fa fa-plus fa-fw"></i>Add Issue</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="col-md-5">
            Average: {{ average }}<br>
            Shortest: {{ shortest }}<br>
            Longest: {{ longest }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="active">
                    <th>Operation</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Category</th>
                    <th>Submitter</th>
                    <th>Solver</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'tracker:issue_update' obj.id %}">Edit</a>|
                            <a href="{% url 'tracker:issue_delete' obj.id %}">Delete</a>
                        </td>
                        <td>
                            <a href="{% url 'tracker:issue_detail' obj.id %}">{{ obj.title }}</a>
                        </td>
                        <td>{{ obj.get_status_display }}</td>
                        <td>{{ obj.get_category_display }}</td>
                        <td>{{ obj.submitter }}</td>
                        <td>{{ obj.solver }}</td>
                        <td>{{ obj.duration }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 ">
            <ul class="pagination pull-right ">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page=1">&laquo; First</a>
                    </li>
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                <li>
                <span class="current" style="background-color: #337cbb;">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                </li>

                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
