{% extends 'layouts/default.html' %}

{% block content %}
    <div class="row ">
        <a name="details"></a>
        <div class="col-md-12 ">
            <ul class="breadcrumb ">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{% url 'tracker:issue_list' %}">Issues</a>
                </li>
                <li class="active ">{{ object }}</li>
            </ul>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 ">
            Are you sure you want to delete "{{ object }}" ?
        </div>
    </div>
{% endblock %}
