{% if messages %}
    {% for error in messages %}
        {% if error.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endif %}

        {% if error.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning">
                <strong>{{ error }}</strong>
            </div>
        {% endif %}

        {% if error.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-primary">
                <strong>{{ error }}</strong>
            </div>
        {% endif %}
        {% if error.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                <strong>{{ error }}</strong>
            </div>
        {% endif %}

    {% endfor %}
{% endif %}
